.homepage {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px auto 70px;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
  
}
.header {
  grid-column: span 3;
  text-align: center;
}


.left {
  padding: 30px;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 
.homepage {
  display:grid;
  grid-template-areas:
      'header'
      'homepage-feed'
      'homepage-left'
      'homepage-right'
      'footer';
}

.homepage > * {
  padding:1rem;
}


.homepage > .header {
  grid-area:header;
  background:#f97171;
}
.homepage > .main-content {
  grid-area:main-content;
  background:#fff;
}
.homepage > .left-sidebar {
  grid-area:left-sidebar;
  background:#f5d55f;
}
.homepage > .right-sidebar {
  grid-area:right-sidebar;
  background:#c5ed77;
}
.homepage > .footer {
  grid-area:footer;
  background:#72c2f1;
}


@media (min-width:768px) {
  .homepage {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          'header header'
          'main-content main-content'
          'left-sidebar right-sidebar'
          'footer footer';
  }
}


@media (min-width:1024px) {
  .homepage {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
          'header header header header'
          'left-sidebar main-content main-content right-sidebar'
          'footer footer footer footer';
  }
} */