

/* h1 {    
    color: #fff;
    font-size: 20px;
    font-weight: 600;
} */

.newsTitle {
    color: #5632fa;
    font-size: 20px;
    font-weight: 600;
    scrollbar-color: #5632fa #ffffff;

}

.contents {
    color: #060606;
    font-size: 20px;
    font-weight: 600;
    scrollbar-color: #5632fa #ffffff;
}

.articleTitle {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    scrollbar-color: #5632fa #ffffff;
}